---
http_interactions:
- request:
    method: get
    uri: https://servicodados.ibge.gov.br/api/v2/censos/nomes/ranking/?localidade=3550308
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"localidade":"3550308","sexo":null,"res":[{"nome":"MARIA","frequencia":580861,"ranking":1},{"nome":"JOSE","frequencia":269471,"ranking":2},{"nome":"ANA","frequencia":164192,"ranking":3},{"nome":"JOAO","frequencia":129557,"ranking":4},{"nome":"ANTONIO","frequencia":120942,"ranking":5},{"nome":"CARLOS","frequencia":86583,"ranking":6},{"nome":"PAULO","frequencia":83695,"ranking":7},{"nome":"LUCAS","frequencia":74368,"ranking":8},{"nome":"GABRIEL","frequencia":69770,"ranking":9},{"nome":"PEDRO","frequencia":69003,"ranking":10},{"nome":"MARCOS","frequencia":67821,"ranking":11},{"nome":"RAFAEL","frequencia":65123,"ranking":12},{"nome":"LUIZ","frequencia":64820,"ranking":13},{"nome":"FRANCISCO","frequencia":62311,"ranking":14},{"nome":"MARCELO","frequencia":58532,"ranking":15},{"nome":"FELIPE","frequencia":56902,"ranking":16},{"nome":"BRUNO","frequencia":53391,"ranking":17},{"nome":"EDUARDO","frequencia":52510,"ranking":18},{"nome":"RODRIGO","frequencia":51761,"ranking":19},{"nome":"GUILHERME","frequencia":49372,"ranking":20}]}]'
  recorded_at: Sun, 08 Sep 2024 03:46:23 GMT
recorded_with: VCR 6.3.1
