---
http_interactions:
- request:
    method: get
    uri: https://servicodados.ibge.gov.br/api/v2/censos/nomes/JO%C3%83O%7CJOS%C3%89?decada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"nome":"JOAO","sexo":null,"localidade":"BR","res":[{"periodo":"1930[","frequencia":60155},{"periodo":"[1930,1940[","frequencia":141772},{"periodo":"[1940,1950[","frequencia":256001},{"periodo":"[1950,1960[","frequencia":396438},{"periodo":"[1960,1970[","frequencia":429148},{"periodo":"[1970,1980[","frequencia":279975},{"periodo":"[1980,1990[","frequencia":273960},{"periodo":"[1990,2000[","frequencia":352552},{"periodo":"[2000,2010[","frequencia":794118}]},{"nome":"JOSE","sexo":null,"localidade":"BR","res":[{"periodo":"1930[","frequencia":118121},{"periodo":"[1930,1940[","frequencia":311202},{"periodo":"[1940,1950[","frequencia":648754},{"periodo":"[1950,1960[","frequencia":1082782},{"periodo":"[1960,1970[","frequencia":1242231},{"periodo":"[1970,1980[","frequencia":942212},{"periodo":"[1980,1990[","frequencia":661123},{"periodo":"[1990,2000[","frequencia":431536},{"periodo":"[2000,2010[","frequencia":316568}]}]'
  recorded_at: Tue, 10 Sep 2024 02:50:05 GMT
recorded_with: VCR 6.3.1
