---
http_interactions:
- request:
    method: get
    uri: https://servicodados.ibge.gov.br/api/v2/censos/nomes/ranking/?localidade=35&sexo=F
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"localidade":"35","sexo":"f","res":[{"nome":"MARIA","frequencia":2136057,"ranking":1},{"nome":"ANA","frequencia":662035,"ranking":2},{"nome":"JULIANA","frequencia":157939,"ranking":3},{"nome":"MARCIA","frequencia":152146,"ranking":4},{"nome":"ADRIANA","frequencia":149268,"ranking":5},{"nome":"APARECIDA","frequencia":143645,"ranking":6},{"nome":"FERNANDA","frequencia":140306,"ranking":7},{"nome":"PATRICIA","frequencia":139205,"ranking":8},{"nome":"ALINE","frequencia":131893,"ranking":9},{"nome":"CAMILA","frequencia":131233,"ranking":10},{"nome":"SANDRA","frequencia":131018,"ranking":11},{"nome":"BRUNA","frequencia":129465,"ranking":12},{"nome":"JULIA","frequencia":127506,"ranking":13},{"nome":"LETICIA","frequencia":122960,"ranking":14},{"nome":"BEATRIZ","frequencia":122096,"ranking":15},{"nome":"GABRIELA","frequencia":118669,"ranking":16},{"nome":"JESSICA","frequencia":116920,"ranking":17},{"nome":"AMANDA","frequencia":116617,"ranking":18},{"nome":"LUCIANA","frequencia":112676,"ranking":19},{"nome":"VANESSA","frequencia":110214,"ranking":20}]}]'
  recorded_at: Sun, 08 Sep 2024 03:50:20 GMT
recorded_with: VCR 6.3.1
