---
http_interactions:
- request:
    method: get
    uri: https://servicodados.ibge.gov.br/api/v2/censos/nomes/ranking/?localidade=35&sexo=M
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"localidade":"35","sexo":"m","res":[{"nome":"JOSE","frequencia":1115060,"ranking":1},{"nome":"JOAO","frequencia":608330,"ranking":2},{"nome":"ANTONIO","frequencia":496524,"ranking":3},{"nome":"PAULO","frequencia":332376,"ranking":4},{"nome":"CARLOS","frequencia":327672,"ranking":5},{"nome":"LUCAS","frequencia":280197,"ranking":6},{"nome":"LUIZ","frequencia":269909,"ranking":7},{"nome":"PEDRO","frequencia":262959,"ranking":8},{"nome":"MARCOS","frequencia":257364,"ranking":9},{"nome":"GABRIEL","frequencia":253754,"ranking":10},{"nome":"LUIS","frequencia":245546,"ranking":11},{"nome":"RAFAEL","frequencia":229331,"ranking":12},{"nome":"FRANCISCO","frequencia":200457,"ranking":13},{"nome":"MARCELO","frequencia":196612,"ranking":14},{"nome":"BRUNO","frequencia":186596,"ranking":15},{"nome":"FELIPE","frequencia":184644,"ranking":16},{"nome":"GUILHERME","frequencia":174690,"ranking":17},{"nome":"RODRIGO","frequencia":172242,"ranking":18},{"nome":"EDUARDO","frequencia":165321,"ranking":19},{"nome":"GUSTAVO","frequencia":164437,"ranking":20}]}]'
  recorded_at: Sun, 08 Sep 2024 03:50:20 GMT
recorded_with: VCR 6.3.1
