---
http_interactions:
- request:
    method: get
    uri: https://servicodados.ibge.gov.br/api/v2/censos/nomes/ranking/?localidade=35
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"localidade":"35","sexo":null,"res":[{"nome":"MARIA","frequencia":2143232,"ranking":1},{"nome":"JOSE","frequencia":1118772,"ranking":2},{"nome":"ANA","frequencia":664153,"ranking":3},{"nome":"JOAO","frequencia":610851,"ranking":4},{"nome":"ANTONIO","frequencia":497959,"ranking":5},{"nome":"PAULO","frequencia":333637,"ranking":6},{"nome":"CARLOS","frequencia":328926,"ranking":7},{"nome":"LUCAS","frequencia":282840,"ranking":8},{"nome":"LUIZ","frequencia":270982,"ranking":9},{"nome":"PEDRO","frequencia":264316,"ranking":10},{"nome":"MARCOS","frequencia":258443,"ranking":11},{"nome":"GABRIEL","frequencia":256501,"ranking":12},{"nome":"LUIS","frequencia":246582,"ranking":13},{"nome":"RAFAEL","frequencia":231278,"ranking":14},{"nome":"FRANCISCO","frequencia":201111,"ranking":15},{"nome":"MARCELO","frequencia":197445,"ranking":16},{"nome":"BRUNO","frequencia":188035,"ranking":17},{"nome":"FELIPE","frequencia":186363,"ranking":18},{"nome":"GUILHERME","frequencia":176046,"ranking":19},{"nome":"RODRIGO","frequencia":173059,"ranking":20}]}]'
  recorded_at: Sun, 08 Sep 2024 03:46:23 GMT
recorded_with: VCR 6.3.1
